body {
  background-color: black;
}

.title {
  color: white;
  text-align: center;
  display: inline-block;
  border: solid 1px white;
  position: absolute;
}

.blink {
  animation: blinkAnime 2s infinite alternate;
  animation-timing-function: steps(1, start);
}
@keyframes blinkAnime {
  25% {
    color: white;
  }
  75% {
    color: black;
  }
}
